// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whole-box{
	margin:30px;
}
table{
	margin-top:30px;
	margin-bottom:30px;
}
.edit-box, .show-box{
	margin:30px;
}